1. Utilice yfinance para extraer datos burs√°tiles

In [9]:
import yfinance as yf
import pandas as pd


tesla = yf.Ticker("TSLA")
tesla_data=tesla.history(period="1y")
tesla_data.reset_index(inplace=True)
tesla_data.head()

C:\Users\ACER\AppData\Local\Programs\Python\Python312\Lib\site-packages\yfinance\utils.py:631: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-03-27 00:00:00-04:00,194.419998,197.389999,189.940002,191.809998,120851600,0.0,0.0
1,2023-03-28 00:00:00-04:00,192.000000,192.350006,185.429993,189.190002,98654600,0.0,0.0
2,2023-03-29 00:00:00-04:00,193.130005,195.289993,189.440002,193.880005,123660000,0.0,0.0
3,2023-03-30 00:00:00-04:00,195.580002,197.330002,194.419998,195.279999,110252200,0.0,0.0
4,2023-03-31 00:00:00-04:00,197.529999,207.789993,197.199997,207.460007,170222100,0.0,0.0